
<div class="container">
    <div class="header">
        <h1>Quest</h1>
        <img src="war.svg" alt="">
    </div>

    <form name='form' ng-submit="addTask()">
        <input type="text" name='newTask' ng-model='newTask' required>     
        <button class="btn btn-outline-primary btn-lg" ng-disable='form.$invalid'>add</button>
    </form>
    <h2>Checklist</h2>
        <ul class="list-group">
            <li class="list-group-item">   
                <p>Nie pal dziś papierosow.</p>
                <button class="btn btn-outline-success btn-lg" ng-click='remove($index)'>done</button>
            </li>

        </ul>
</div>
